* { /* RESERTAR AS CONFIGURAÇÕES DO NAVEGADOR */
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    background-color: rgb(196, 190, 190); 
}

form { /* CONFIGURAÇÃO DA DIV FORM */
    border: 2px solid #a39e9e93;
    background-color: white;
    padding: 30px;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 5px 5px #888888;
    
}

fieldset {
    padding: 20px;
}

h1 {
    font-size: 25px;
}

input[type='text'],
input[type='email'],
textarea,
input[type='tel'] { /* CONFIGURAÇÃO DOS INPUT */
    width: 100%;
    border: none;
    padding: 5px;
    outline: none;
    background: none;
    border-bottom: 3px solid black;
    margin-bottom: 30px;
    transition: color 0.3s ease-in-out;
}

.btn {
    background-color: purple;
    color: white;
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

::placeholder{
    color: white;
}