.ac_box{
    width: 337px;
  
}



.ac_box_content{
    border-left: 4px solid #E6E6E6;
    border-right: 10px solid #E6E6E6;
    border-bottom: 10px solid #E6E6E6;
    height: 340px;
    padding: 5px 0;
    border-radius: 15px 15px 15px 15px;
    border-top: 2px solid #E6E6E6;
}

.profile{
    border-radius: 50%;                                                                                                                                                                                                           
    margin-left: 25%;
    width: 50%;                                                                 
}                                                                                                           